@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

* {
  .backface-visibility('hidden');
}
html {
  
}
body {
  // padding-top: 60px;
}

a {
  text-decoration: none;
}

::selection {
  background: #C3CF98; /* Safari */
  color: #fff;
  }
::-moz-selection {
  background: #C3CF98; /* Firefox */
  color: #fff;
}