@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@width: 940px;

* {
  .backface-visibility('hidden');
}
html {
  
}
body {
  padding-top: 60px;
}

a {
  text-decoration: none;
}

footer {
  // background-color: @navbarBackground;
  border-top: solid 1px @navbarBorder;
  height: @navbarHeight;
  line-height: @navbarHeight;
  color: #999;
  text-shadow: 0 1px 0 @white;
  text-align: center;
}

::selection {
  background: #C3CF98; /* Safari */
  color: #fff;
  }
::-moz-selection {
  background: #C3CF98; /* Firefox */
  color: #fff;
}

div.tooltip {
  font-weight: normal !important;
} 

.content-width {
  width: @width;
  max-width: @width;
}

.welcome {

}

.cursor-info {
  cursor: help;
}

.banners {
  // min-height: 100px;
  margin-bottom: 20px;
}

.search-history {
  line-height: 40px;
  span {
    background-color: #d9edf7;
    border: solid 1px #bce8f1;
    color: #3a87ad;
    padding: 7px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: darken(#d9edf7, 5%);
      border-color: darken(#bce8f1, 5%);
      cursor: pointer;
    }
  }
}
.title {
  min-height: 200px;
  div.league {
    width: 140px;
    height: 165px;
    text-align: center;
    float: left;
    margin-right: 20px;
    color: #1ABC9C;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    img {
      // float: left;
      width: 120px;
      height: 120px;
      // margin-right: 20px;
    }
  }
  span.name {
    font-size: 26px;
  }
  span.summary {
    float: left;
    font-size: 11px;
    width: 380px;
    line-height: 26px;
    img {
      float: left;
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }
  }
  // span.rank {
  //   float: right;
  //   text-align: center;
  //   background-color: #333;
  //   color: #f0f0f0;
  //   padding: 20px 15px;
  //   width: 120px - 30px;
  //   height: 120px - 40px;
  //   font-size: 11px;
  //   strong {
  //     font-size: 22px;
  //   }
  // }
  span.most-played {
    float: left;
    width: 710px;
    div.img {
      float: left;
      width: 150px;
      height: 120px;
      overflow: hidden;
      img {
        opacity: 0.5;
        .transition(all 100ms linear);
      }
      &:hover, &:active {
        & img {
          opacity: 1;
        }
        & + p {
          opacity: 0;
        }
      }
    }
    p {
      float: left;
      .transition(all 100ms linear);
      position: relative;
      top: 70px;
      left: -150px;
      margin-right: -140px;
      float: left;
      background-color: rgba(0,0,0,0.7);
      padding: 5px 0px;
      text-align: center;
      color: #fff;
      // font-weight: bold;
      width: 150px;
    }
  }
}
.subtitle {
  background-color: #fafafa;
  padding: 15px 20px;
  border-top: solid #d4d4d4 3px;
}

.detail {
  div.history {
    border: solid #d4d4d4 1px;
    .box-shadow('0 1px 1 0 #999');
    margin: -10px 0 50px 0;
    .history-item {
      background-repeat: repeat-x;
      height: 122px;
      &.win {
        background-color: #A3C0E0;
        background-image: url("@{imagePath}/bg_table_win.png");
        .item-tip {
          text-shadow: 0 1px 0 #333;
          background-color: #3A71AD;
          background-position: 18px 45px;
        }
        .item-divider {
          background-image: url("@{imagePath}/bg_divider_blue.png");
        }
      }
      &.lose {
        background-color: #E0A3A3;
        background-image: url("@{imagePath}/bg_table_lose.png");
        .item-tip {
          text-shadow: 0 1px 0 #333;
          background-color: #AD3A3A;//#E0A3A3;
          background-position: -1285px 45px;
        }
        .item-divider {
          background-image: url("@{imagePath}/bg_divider_red.png");
        }
      }
      &:hover {
        .item-tip span {
          opacity: 1.0;
          .transition(all 500ms ease-out);
        }
      }
      .item-tip {
        float: left;
        width: 5%;
        height: 122px - 1px;
        line-height: 30px;
        text-align: right;
        padding-right: 3%;
        color: #fff;
        font-size: 9pt;
        font-weight: bold;
        background-image: url("@{imagePath}/text_win_lose.png");
        background-repeat: no-repeat;
        span {
          opacity: 0.3;
        }
        time {
          font-weight: 100;
          text-shadow: none;
          font-size: 12pt;
        }
      }
      .item-hero {
        float: left;
        height: 122px;
        line-height: 122px;
        margin-left: -20px;
        width: 95px;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .item-spell {
        float: left;
        height: 122px - 20px;
        width: 60px;
        padding-top: 20px;
        text-align: center;
        img {
          width: 30px;
          height: 30px;
          margin: 1px;
        }
      }
      .item-desc {
        float: left;
        height: 122px;
        padding-left: 1%;
        padding-right: 10px;
        font-size: 11px;
        text-shadow: 0 1px 0 #fff;
      }
      .item-stat {
        width: 120px;
        float: left;
        height: 122px - 15px;
        line-height: 27px;
        padding-top: 15px;
        // padding-left: 2%;
        font-size: 11px;
        text-shadow: 0 1px 0 #fff;
        strong {
          font-size: 22px;
        }
        span.divider {
          color: #333;
          font-weight: bold;
        }
      }
      .item-reward {
        float: left;
        width: 120px;
        height: 122px - 15px;
        line-height: 27px;
        padding-top: 5px;
        font-size: 11px;
        text-shadow: 0 1px 0 #fff;
        dl {
          dt {
            float: left;
            width: 50px;
            text-align: right;
          }
          dd {
            float: right;
            width: 60px;
          }
        }
      }
      .item-divider {
        float: left;
        width: 5px;
        height: 122px - 1px;
        background-repeat: no-repeat;
      }
      .item-stats {
        float: left;
        width: 170px;
        height: 122px - 15px;
        line-height: 27px;
        padding-top: 0px;
        font-size: 11px;
        text-shadow: 0 1px 0 #fff;
        dl {
          dt {
            float: left;
            width: 60px;
            text-align: right;
          }
          dd {
            float: right;
            width: 100px;
          }
        }
      }
      .item-list {
        float: left;
        width: 80px;
        height: 122px - 10px;
        padding-top: 10px;
        text-align: center;
        img {
          width: 30px;
          height: 30px;
          margin: 1px 0px;
        }
      }
    }
  }
}

#welcomeTitle {
  text-align: center;
  padding: 100px 0px;
  .transition(all 200ms ease-out);
  .scale(0.7);
  &.animated {
    .scale(1.0);
  }
}

#searchBox {
  width: 500px;
  min-height: 300px;
  margin: 0 auto 100px auto;
  .container {
    .transition(all 500ms ease-out);
    .translate(0px, 0px);
    opacity: 0;
    &.animated {
      opacity: 1 !important;
      .translate(0px, -20px);
    }
    position: relative;
    background-color: @white;
    width: 400px;
    min-height: 200px;
    padding: 50px;
    text-align: center;
    .border-radius(5px);
    .box-shadow(0 1px 40px -10px rgba(0,0,0,.25));
    form {
      .search-query {
        padding: 13px 13px 13px 26px;
        .border-radius(9999px 0 0 9999px);
      }
      .btn {
        padding: 13px 20px 13px 13px;
        .border-radius(0 9999px 9999px 0);
      }
    }
    .alert {
      margin: 10px -40px 10px -40px;
    }
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

// @media (max-width: 979px) {
@media (max-width: 1199px) {
  .detail div.history div.history-item {
    &.win {
      .item-tip {
        background-position-x: 8px !important;
      }
    }
    &.lose {
      .item-tip {
        background-position-x: -1295px !important;
      }
    }
  }
}

@media  screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1),
        only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5),
        screen and (device-aspect-ratio: 40/71),
        screen and (max-device-width: 480px),
        screen and (device-width: 320px) and (device-height: 533px) and (-webkit-device-pixel-ratio: 1.5),
        only screen and (-webkit-device-pixel-ratio: 2) {
  body {
    // max-device-width: 100%;
    // max-width: 100%;
  }
  #welcomeTitle {
    // max-width: 100%
    padding: 10px 0 50px 0;
  }
  div.container {
    // max-width: 100%
  }
  #searchBox {
    // position: initial !important;
    // float: initial !important;
    // position: absolute;
    // left: 0px;
    width: 105% !important;
    margin-left: -5%;
    .container {
      width: 100%;
      padding: 10% 3%;
      form {
        div.input-append {
          width: 80%;
          margin-left: -20%;
        }
        .search-query {
          width: 70%;
          padding: 23px 13px 23px 26px;
          .border-radius(9999px 0 0 9999px);
        }
        .btn {
          padding: 13px 20px 13px 13px;
          .border-radius(0 9999px 9999px 0);
        }
      }
    }
  }
  div.title {
    text-align: center;
    img {
      float: initial;
    }
    div.league {
      width: 100%;
      float: initial;
      margin-bottom: 50px;
    }
    span.summary {
      float: initial;
      width: 100%;
      line-height: 20px;
      font-size: 11px;
    }
    span.name {
      font-size: 14px;
      font-weight: bold;
    }
    span.most-played {
      margin-left: -19px;
      div.img {
        float: left;
        clear: both;
        img {
          opacity: 1;
        }
        img.img-rounded {
          border-radius: 0px;
        }
        &:hover {
          & + p {
            opacity: 1 !important;
          }
        }
      }
      p {
        // float: right;
        // position: static;
        left: 0px;
        top: 0px;
        width: 130px;
        padding: 10px 0px 10px 0px;
        background-color: #333;
        height: 100px;
      }
    }
    // span.rank {
    //   float: initial;
    //   position: absolute;
    //   left: 0px;
    //   width: 100%;
    //   margin-top: 50px;
    //   padding: 10px;
    // }
  }
  // div.banners {
  //   height: 100px;
  //   margin-bottom: 20px;
  // }
  // img.banner {
  //   &.pull-left {
  //     margin-top: 20px;
  //   }
  //   &.pull-right {
  //     margin-top: 80px;
  //   }
  // }
  .mobile-width {
    float: initial !important;
    // position: absolute;
    // left: 0px;
    width: 100% !important;
    margin: 0;
  }
  .detail {
    div.history {
      border: 0;
      margin-left: -21px;
      .history-item {
        .mobile-width();
        background: none;
        clear: both;
        &.win {
          div.item-hero,
          div.item-desc,
          div.item-reward,
          div.item-stats {
            background-repeat: repeat-x;
            height: 122px;
            background-color: #A3C0E0;
            background-image: url("@{imagePath}/bg_table_win.png");
          } 
        }
        &.lose {
          div.item-hero,
          div.item-desc,
          div.item-reward,
          div.item-stats {
            background-repeat: repeat-x;
            height: 122px;
            background-color: #A3C0E0;
            background-image: url("@{imagePath}/bg_table_lose.png");
          }
        }
      }
      .item-tip {
        .mobile-width();
        background-position-y: 25px !important;
        line-height: 11px !important;
        height: 75px !important;
        padding-right: 5% !important;
      }
      .item-hero {
        // .mobile-width();
        float: left;
        margin: 0 !important;
        padding-left: 3%;
      }
      .item-desc {
        .mobile-width();
        // width: 60%;
        float: right;
        padding-right: 5% !important;
      }
      .item-divider {
        clear: both;
      }
      .item-spell {
        width: 27% !important;
        // padding-left: 3%;
        line-height: 20px;
        text-align: center !important;
        img {
          // margin-right: 10% !important;
          // float: left !important;
          // line-height: 0px !important;
          max-width: initial;
          width: 60px !important;
          height: 60px !important;
          border-radius: 9999px;
        }
      }
      .item-stat {
        background-color: #f0f0f0;
        padding-right: 5%;
        margin-right: -5%;

        width: 70% - 2% !important;
        height: 140px !important;
        text-align: center !important;
        line-height: 0px !important;
        strong.cursor-info {
          float: left !important;
          font-size: 24pt;
          margin-top: 20px;
          width: 100%;
          margin-bottom: 20px;
        }
        span.badge {
          font-size: 9pt;
          padding: 5px 10px;
          border-radius: 9999px;
          margin: 10px 5px 0px 5px;
          // float: right !important;
        }
      }
      .item-reward {
        clear: both;
        width: 100% !important;
        padding-right: 5%;
        margin-right: -5%;
        padding-top: 0px !important;
        // .mobile-width();
        // margin-top: 0px;
        margin-top: 132px;// + 20px;
        border-top: solid #bbb 1px;
        dl {
          clear: both;
          font-size: 10pt;
          dt {
            width: 40% !important;
            padding-bottom: 5px;
          }
          dd {
            width: 50% !important;
            padding-bottom: 5px;
          }
        }
      }
      .item-list {
        clear: both;
        width: 100% !important;
        height: 90px !important;
        background-color: #f0f0f0;
        padding-right: 5%;
        margin-right: -5%;
        padding-top: 20px !important;
        padding-left: 5%;
        line-height: 0px;
        border-top: solid #d4d4d4 1px;
        margin-top: -122px * 3;// + 20px;
        img {
          max-width: initial;
          width: 50px !important;
          height: 50px !important;
          border-radius: 9999px;
          float: left;

          // border: solid #f0f0f0 7px;
          // border-radius: 9999px;
        }
      }
      .item-stats {
        clear: both;
        width: 100% !important;
        margin-top: -122px * 2 !important;
        padding-right: 5%;
        margin-right: -5%;
        padding-bottom: 5%;
        padding-top: 0px !important;
        // .mobile-width();
        margin-top: 0px;
        border-top: solid #bbb 1px;
        background-size: 3px 141px;
        // border-bottom: solid #333 10px;
        dl {
          clear: both;
          font-size: 10pt;
          dd {
            float: left !important;
            width: 40% !important;
            padding-bottom: 5px;
            text-align: right;
            font-weight: bold;
            margin-left: 0px !important;
          }
          dt {
            float: right !important;
            width: 50% !important;
            padding-bottom: 5px;
            font-weight: normal;
            text-align: left !important;
          }
        }
      }

    }
  }
}