@(title: String)(body: Html)

<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="assets/javascripts/modernizr-2.6.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <link href="assets/stylesheets/main.css" rel="stylesheet" />
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/stylesheets/responsive.min.css" rel="stylesheet" />
    <link href="assets/images/favicon.png" rel="shortcut icon" type="image/png">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript">
    if(typeof String.prototype.trim !== 'function') {
        String.prototype.trim = function() {
            return this.replace(/^\s+|\s+$/g, ''); 
        }
    }
    </script>
    <![endif]-->
  </head>
  <body>
    @body
    <footer>
      <div class="container">
      © 2013 SORAN / Contact: support@@trinity.so
      </div>
    </footer>
    <script src="assets/javascripts/bootstrap-2.3.1.min.js"></script>
    <script src="assets/javascripts/main.js"></script>
  </body>
</html>